<div class="modal fade" id="addBand">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-primary">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Add a new band!</h4>
      </div>
      <div class="modal-body">

        <form role="form">
          <div class="form-group">
            <label for="inputName">Band Name</label>
            <input name="name" type="text" class="form-control" id="inputName" placeholder="Grateful Dead">
          </div>
          <div class="form-group">
            <label for="inputYear">Year formed</label>
            <input name="year_formed" type="text" class="form-control" id="inputYear" placeholder="1965">
          </div>
          <div class="form-group">
            <label for="inputMembers">Members</label>
            <textarea name="members" class="form-control" id="inputMember" rows="3" placeholder="Be sure to put each member on a new line"></textarea>
          </div>
          <button type="submit" class="btn btn-default" formaction="/create" formmethod="post">Submit</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </form>

      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->